@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Movies</h1>

@foreach (Movie movie in Model.Movies)
{
    <div class="movie-entry">
        <h2>@movie.Title (@movie.Year)</h2>
        <p>Rated @movie.MPAA_Rating</p>
        <div class="reviews">
            <div>
                Rotten Tomatoes
                <h3>
                    @movie.Rotten_Tomatoes_Rating
                </h3>
            </div>
            <div>
                IMDB
                <h3>@movie.IMDB_Rating</h3>
            </div>
        </div>
    </div>
}
